.lkt-field {
    --lkt-field--background: transparent;
    --lkt-field--border-color: #444444;
    --lkt-field--border-radius: 0px;
    --lkt-field--border-style: solid;
    --lkt-field--border-width: 1px;
    --lkt-field--box-shadow: none;
    --lkt-field--color: #444444;
    --lkt-field--font-size: 16px;
    --lkt-field--font-weight: 400;
    --lkt-field--gap: 15px;

    /** State: Disabled */
    --lkt-field--disabled--border-color: #dddddd;

    /** State: Valid */
    --lkt-field--valid--background: transparent;
    --lkt-field--valid--border-color: green;
    --lkt-field--valid--border-width: var(--lkt-field--border-width);
    --lkt-field--valid--box-shadow: 0 0 0 2px green;

    /** State: Invalid */
    --lkt-field--invalid--background: transparent;
    --lkt-field--invalid--border-color: #ff0000;
    --lkt-field--invalid--border-width: var(--lkt-field--border-width);
    --lkt-field--invalid--box-shadow: 0 0 0 2px #ff0000;

    /** Event: Focus */
    --lkt-field--focus--border-color: #444444;
    --lkt-field--focus--shadow: 0 0 0 2px #444444;

    /** Element: Label */
    --lkt-field--label--font-size: 16px;
    --lkt-field--label--font-weight: 600;
    --lkt-field--label--line-height: 1.425;
    --lkt-field--label--margin: 0;
    --lkt-field--label--color: #444444;

    /** Element: Input */
    --lkt-field--input--background: transparent;
    --lkt-field--input--border-radius: 0px;
    --lkt-field--input--font-size: 16px;
    --lkt-field--input--font-weight: 400;
    --lkt-field--input--height: 40px;
    --lkt-field--input--line-height: 40px;
    --lkt-field--input--padding: 0 10px;
    --lkt-field--input--transition: all linear 150ms;

    /** Element: Input, State: Disabled */
    --lkt-field--disabled--input--background: transparent;

    /** Element: Textarea */
    --lkt-field--textarea--padding: 10px;

    /** Element: Textarea, State: Read Mode */
    --lkt-field--read-mode--textarea--line-height: 1.425;

    /** Element: Switch */
    --lkt-field--switch--border-radius: 100%;
    --lkt-field--switch--height: 22px;
    --lkt-field--switch--width: 42px;

    /** Element: Switch Dot */
    --lkt-field--switch-dot--size: 18px;
    --lkt-field--switch-dot--left-start: 2px;
    --lkt-field--switch-dot--left-end: 22px;

    /** Element: Switch, State: On */
    --lkt-field--switch-on--background: #cccccc;
    --lkt-field--switch-on-dot--background: green;

    /** Element: Switch, State: Off */
    --lkt-field--switch-off--background: #cccccc;
    --lkt-field--switch-off-dot--background: #ffffff;

    /** Element: Switch, State: Disabled */
    --lkt-field--disabled--switch--background: #cacaca;
    --lkt-field--disabled--switch-on--background: #cccccc;
    --lkt-field--disabled--switch-dot--background: #ffffff;
    --lkt-field--disabled--switch-on-dot--background: #ffffff;

    /** Element: HTML */
    --lkt-field--html-floating-gap: 2px;

    /** Element: Option */
    --lkt-field--option--color: #444;
    --lkt-field--option--padding: 7px;

    /** Element: Option, State: Active */
    --lkt-field--active--option--background: transparent;
    --lkt-field--active--option--color: #444;

    /** Element: Option, State: Active, Event: Hover */
    --lkt-field--hover--active--option--background: transparent;
    --lkt-field--hover--active--option--color: #444;

    /** Element: Odd Option */
    --lkt-field--odd-option--background: transparent;
    --lkt-field--odd-option--color: #444;

    /** Element: Odd Option, State: Hover */
    --lkt-field--hover--odd-option--background: var(--lkt-field--odd-option--background);
    --lkt-field--hover--odd-option--color: #444;

    /** Element: Even Option */
    --lkt-field--even-option--background: transparent;
    --lkt-field--even-option--color: #444;

    /** Element: Even Option, State: Hover */
    --lkt-field--hover--even-option--background: var(--lkt-field--even-option--background);
    --lkt-field--hover--even-option--color: #444;

    /** Element: Options Dropdown */
    --lkt-field--dropdown--max-height: 200px;

    /** Element: Tag */
    --lkt-field--tag--background: #fff;
    --lkt-field--tag--border-color: #444;
    --lkt-field--tag--border-radius: 0;
    --lkt-field--tag--border-style: solid;
    --lkt-field--tag--border-width: 1px;
    --lkt-field--tag--color: #444;
    --lkt-field--tag--font-weight: 600;
    --lkt-field--tag--padding: 5px;

    /** Element: Validation */
    --lkt-field--validation--color: #ff0000;
    --lkt-field--validation--font-family: system-ui, Helvetica;
    --lkt-field--validation--font-size: 12px;
    --lkt-field--validation--font-weight: 300;

    /** Element: State bar */
    --lkt-field--state--font-size: 40px;
    --lkt-field--state--gap: 10px;
    --lkt-field--state--right: 5px;

    /** Element: Radio option */
    --lkt-field--radio--background: transparent;
    --lkt-field--radio--border-width: 1px;
    --lkt-field--radio--border-style: solid;
    --lkt-field--radio--border-color: #444;
    --lkt-field--radio--border-radius: 100%;
    --lkt-field--radio--size: 22px;

    /** Element: Radio option, State: Active */
    --lkt-field--active--radio--background: transparent;
}