.lkt-field .lkt-field--toggle-button {
    --lkt-button--background: transparent;
    --lkt-button--border-width: 0;
    --lkt-button--hover--border-width: 0;
    --lkt-button--focus--border-width: 0;
    --lkt-button--height: var(--lkt-field-height);
    --lkt-button--max-height: var(--lkt-field-height);
    --lkt-button--min-height: var(--lkt-field-height);
    --lkt-button--border-radius: var(--lkt-field--border-radius);
    --lkt-button--font-size: var(--lkt-field--font-size);
    --lkt-button--color: var(--lkt-field--color);
    --lkt-button--padding: var(--lkt-field--input--padding);
    --lkt-button--container--display: flex;
    --lkt-button--container--width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: flex-start;
}

.lkt-field .lkt-field--select-button,
.lkt-field .lkt-field--btn-dropdown {
    --lkt-button--hover--background: transparent;
    --lkt-button--focus--background: transparent;
    --lkt-button--hover--color: var(--lkt-field--color);
    --lkt-button--focus--color: var(--lkt-field--color);
    --lkt-button--focus--shadow: none;
    --lkt-button--focus--border-color: var(--lkt-field--border-color);
}

.lkt-field.is-select.is-multiple .lkt-field--select-button {
    --lkt-button--transition: none;
    --lkt-button--padding: var(--lkt-field--textarea--padding);
    align-items: start;
    line-height: 1.425;
}

.lkt-field.is-select.is-multiple.is-searching .lkt-field--select-button {
    --lkt-button--min-height: calc(var(--lkt-field-height) - var(--lkt-field--input--height) - var(--lkt-field--border-width));
    --lkt-button--max-height: calc(var(--lkt-field-height) - var(--lkt-field--input--height) - var(--lkt-field--border-width));
    --lkt-button--height: calc(var(--lkt-field-height) - var(--lkt-field--input--height) - var(--lkt-field--border-width));
    line-height: 1.425;
}

.lkt-field.is-color .lkt-field--toggle-button {
    justify-content: center;
}

.lkt-field.is-image .lkt-field--toggle-button {
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.lkt-field.is-image.is-filled .lkt-field--toggle-button {
    --lkt-button--padding: 0;
}

.lkt-field .lkt-field-color--tooltip--numeric-input-container,
.lkt-field .lkt-field-color--tooltip--hex-input-container
{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lkt-field .lkt-field-color--tooltip--rgba-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lkt-field .lkt-field-color--tooltip--numeric-input-container > .lkt-field {
    width: 70px;
}