.lkt-field .lkt-field--toggle-button {
    --lkt-btn-bg: transparent;
    --lkt-btn-border-width: 0;
    --lkt-btn-border-width-hover: 0;
    --lkt-btn-border-width-focus: 0;
    --lkt-btn-height: var(--lkt-field-height);
    --lkt-btn-max-height: var(--lkt-field-height);
    --lkt-btn-min-height: var(--lkt-field-height);
    --lkt-btn-border-radius: var(--lkt-field-border-radius);
    --lkt-btn-font-size: var(--lkt-field-font-size);
    --lkt-btn-color: var(--lkt-field-color);
    --lkt-btn-padding: var(--lkt-field-padding-input);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: flex-start;
}

.lkt-field .lkt-field--select-button,
.lkt-field .lkt-field--btn-dropdown {
    --lkt-btn-bg-hover: transparent;
    --lkt-btn-bg-focus: transparent;
    --lkt-btn-color-hover: var(--lkt-field-color);
    --lkt-btn-color-focus: var(--lkt-field-color);
    --lkt-btn-shadow-focus: none;
    --lkt-btn-border-color-focus: var(--lkt-field-border-color);
}

.lkt-field.is-select.is-multiple .lkt-field--select-button {
    --lkt-btn-transition: none;
    --lkt-btn-padding: var(--lkt-field-padding-textarea);
    align-items: start;
    line-height: 1.425;
}

.lkt-field.is-select.is-multiple.is-searching .lkt-field--select-button {
    --lkt-btn-min-height: calc(var(--lkt-field-height) - var(--lkt-field-input-height) - var(--lkt-field-border-width));
    --lkt-btn-max-height: calc(var(--lkt-field-height) - var(--lkt-field-input-height) - var(--lkt-field-border-width));
    --lkt-btn-height: calc(var(--lkt-field-height) - var(--lkt-field-input-height) - var(--lkt-field-border-width));
    line-height: 1.425;
}

.lkt-field.is-color .lkt-field--toggle-button {
    justify-content: center;
}

.lkt-field.is-image .lkt-field--toggle-button {
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.lkt-field.is-image.is-filled .lkt-field--toggle-button {
    --lkt-btn-padding: 0;
}

.lkt-field .lkt-field-color--tooltip--numeric-input-container,
.lkt-field .lkt-field-color--tooltip--hex-input-container
{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lkt-field .lkt-field-color--tooltip--rgba-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lkt-field .lkt-field-color--tooltip--numeric-input-container > .lkt-field {
    width: 70px;
}