.lkt-field--date--tooltip {
    --lkt-tooltip--background: var(--lkt-field--background);
    --lkt-tooltip--hover--background: var(--lkt-field--background);
    --lkt-tooltip--border-width: var(--lkt-field--border-width);
    --lkt-tooltip--hover--border-width: var(--lkt-field--border-width);
    --lkt-tooltip--border-style: var(--lkt-field--border-style);
    --lkt-tooltip--hover--border-style: var(--lkt-field--border-style);
    --lkt-tooltip--border-color: var(--lkt-field--border-color);
    --lkt-tooltip--hover--border-color: var(--lkt-field--border-color);
    --lkt-tooltip--box-shadow: var(--lkt-field--box-shadow);
    --lkt-tooltip--hover--box-shadow: var(--lkt-field--box-shadow);
    --lkt-tooltip--border-radius: var(--lkt-field--border-radius);
}