.lkt-field .lkt-field-color-view {
    height: var(--lkt-field-input-height);
    width: 100%;
    max-width: 240px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: var(--lkt-field-border-radius);
    border-bottom-left-radius: var(--lkt-field-border-radius);
}
.lkt-field.is-empty .lkt-field-color-view {
    background: repeating-linear-gradient(
            -45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
    );
}

.lkt-field.is-color > .lkt-field-main {
    justify-content: flex-start;
    overflow: hidden;
}

.lkt-field .lkt-field-main > .lkt-button-container {
    width: 100%;
    border-radius: var(--lkt-field-border-radius);
}

.lkt-field .lkt-field-color--alpha--tooltip {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
    --lkt-tooltip-width: 300px;
    --lkt-tooltip-max-width: 100vw;
}

.lkt-field .lkt-field--toggle-button {
    --lkt-btn-bg: transparent;
    --lkt-btn-border-width: 0;
    --lkt-btn-border-width-hover: 0;
    --lkt-btn-border-width-focus: 0;
    --lkt-btn-height: var(--lkt-field-height);
    --lkt-btn-min-height: var(--lkt-field-height);
    --lkt-btn-border-radius: var(--lkt-field-border-radius);
    --lkt-btn-font-size: var(--lkt-field-font-size);
    --lkt-btn-color: var(--lkt-field-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: flex-start;
}

.lkt-field.is-color .lkt-field--toggle-button {
    justify-content: center;
}

.lkt-field.is-image .lkt-field--toggle-button {
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.lkt-field.is-image.is-filled .lkt-field--toggle-button {
    --lkt-btn-padding: 0;
}

.lkt-field .lkt-field-color--tooltip--numeric-input-container,
.lkt-field .lkt-field-color--tooltip--hex-input-container
{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lkt-field .lkt-field-color--tooltip--rgba-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lkt-field .lkt-field-color--tooltip--numeric-input-container > .lkt-field {
    width: 70px;
}