.lkt-field {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--lkt-field-color);
    width: 100%;

    --lkt-field-large-field-min-height: calc(var(--lkt-field-input-height) * 2 + var(--lkt-field-gap) + var(--lkt-field-line-height-label));
    --lkt-field-large-field-max-height: calc(var(--lkt-field-input-height) * 4 + var(--lkt-field-gap) * 3 + var(--lkt-field-line-height-label) * 3);
}
.lkt-field-switch {
    width: auto;
}

.lkt-field-main,
.lkt-field-file__main,
.lkt-field-editor__main {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background-color: var(--lkt-field-bg);
    border-width: var(--lkt-field-border-width);
    border-style: var(--lkt-field-border-style);
    border-color: var(--lkt-field-border-color);
    box-shadow: var(--lkt-field-shadow);
    border-radius: var(--lkt-field-border-radius);
}

.lkt-field.has-focus .lkt-field-main,
.lkt-field.has-focus .lkt-field-file__main,
.lkt-field.has-focus .lkt-field-editor__main {
    outline: 0;
    border-color: var(--lkt-field-border-color-focus);
    box-shadow: var(--lkt-field-shadow-focus);
}

.lkt-field input:-webkit-autofill,
.lkt-field input:-webkit-autofill:hover,
.lkt-field input:-webkit-autofill:focus,
.lkt-field input:-webkit-autofill:active,
.lkt-field textarea:-webkit-autofill,
.lkt-field textarea:-webkit-autofill:hover,
.lkt-field textarea:-webkit-autofill:focus,
.lkt-field textarea:-webkit-autofill:active  {
    box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}

.lkt-field input:-internal-autofill-selected,
.lkt-field textarea:-internal-autofill-selected {
    background-color: var(--lkt-field-bg) !important;
}
.lkt-field input:-webkit-autofill,
.lkt-field textarea:-webkit-autofill {
    -webkit-text-fill-color: var(--lkt-field-color);
}

.lkt-field label {
    display: block;
    font-weight: var(--lkt-field-font-weight-label);
    font-size: var(--lkt-field-font-size-label);
    line-height: var(--lkt-field-line-height-label);
    margin: var(--lkt-field-margin-label);
}

.lkt-field-switch label {
    padding-left: 50px;
}

.lkt-field input[type="text"],
.lkt-field input[type="email"],
.lkt-field input[type="number"],
.lkt-field input[type="tel"],
.lkt-field textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    outline: 0;
    border: none;
    transition: var(--lkt-field-transition-input);
    font-size: var(--lkt-field-font-size-input);
    font-weight: var(--lkt-field-font-weight-input);
    border-radius: var(--lkt-field-border-radius-input);
    background-color: var(--lkt-field-bg-input);
}

.lkt-field input[type="text"],
.lkt-field input[type="number"],
.lkt-field input[type="email"],
.lkt-field input[type="tel"] {
    height: calc(var(--lkt-field-input-height) - 2 * var(--lkt-field-border-width));
    line-height: var(--lkt-field-line-height-input);
    padding: var(--lkt-field-padding-input);
}

.lkt-field-date input {
    padding-left: 35px;
    padding-right: 35px;
}

.lkt-field textarea {
    height: var(--lkt-field-large-field-min-height);
    min-height: var(--lkt-field-large-field-min-height);
    max-height: var(--lkt-field-large-field-max-height);
    padding: var(--lkt-field-padding-textarea);
    resize: vertical;
}