:root {
    --lkt-field-height: var(--lkt-field-input-height);
    --lkt-field-large-field-min-height: calc(var(--lkt-field-height) * 2 + var(--lkt-field-gap) + var(--lkt-field-line-height-label));
    --lkt-field-large-field-max-height: calc(var(--lkt-field-height) * 4 + var(--lkt-field-gap) * 3 + var(--lkt-field-line-height-label) * 3);
    --lkt-field--icons-amount: 0;
}

.lkt-field {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--lkt-field-color);
    font-size: var(--lkt-field-font-size);
    font-weight: var(--lkt-field-font-weight);
    width: 100%;
}

.lkt-field.has-icons-1 { --lkt-field--icons-amount: 1; }
.lkt-field.has-icons-2 { --lkt-field--icons-amount: 2; }
.lkt-field.has-icons-3 { --lkt-field--icons-amount: 3; }
.lkt-field.has-icons-4 { --lkt-field--icons-amount: 4; }
.lkt-field.has-icons-5 { --lkt-field--icons-amount: 5; }
.lkt-field.has-icons-6 { --lkt-field--icons-amount: 6; }
.lkt-field.has-icons-7 { --lkt-field--icons-amount: 7; }

.lkt-field.is-lg {
    --lkt-field-height: var(--lkt-field-large-field-min-height);
}
.lkt-field.is-xl {
    --lkt-field-height: var(--lkt-field-large-field-max-height);
}

.lkt-field-switch {
    width: auto;
}

.lkt-field-content {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    outline: 0;
}

.lkt-field.is-editable .lkt-field-content {
    background-color: var(--lkt-field-bg);
    border-width: var(--lkt-field-border-width);
    border-style: var(--lkt-field-border-style);
    border-color: var(--lkt-field-border-color);
    box-shadow: var(--lkt-field-shadow);
    border-radius: var(--lkt-field-border-radius);
    transition: var(--lkt-field-transition-input);
}

.lkt-field-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    outline: 0;
}

.lkt-field.is-editable .lkt-field-main {
    max-width: calc(100% - var(--lkt-field--icons-amount) * var(--lkt-field-input-height));
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
}

.lkt-field.is-select.is-multiple .lkt-field-main {
    flex-direction: column;
}

.lkt-field-select .lkt-field-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    outline: 0;
    background-color: var(--lkt-field-bg);
    border-width: var(--lkt-field-border-width);
    border-style: var(--lkt-field-border-style);
    border-color: var(--lkt-field-border-color);
    box-shadow: var(--lkt-field-shadow);
    border-radius: var(--lkt-field-border-radius);
    transition: var(--lkt-field-transition-input);
}

.lkt-field.has-focus .lkt-field-content,
.lkt-field-select.has-focus .lkt-field-main {
    outline: 0;
    border-color: var(--lkt-field-border-color-focus);
    box-shadow: var(--lkt-field-shadow-focus);
}

.lkt-field input:-webkit-autofill,
.lkt-field input:-webkit-autofill:hover,
.lkt-field input:-webkit-autofill:focus,
.lkt-field input:-webkit-autofill:active,
.lkt-field textarea:-webkit-autofill,
.lkt-field textarea:-webkit-autofill:hover,
.lkt-field textarea:-webkit-autofill:focus,
.lkt-field textarea:-webkit-autofill:active  {
    box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}

.lkt-field input:-internal-autofill-selected,
.lkt-field textarea:-internal-autofill-selected {
    background-color: var(--lkt-field-bg) !important;
}
.lkt-field input:-webkit-autofill,
.lkt-field textarea:-webkit-autofill {
    -webkit-text-fill-color: var(--lkt-field-color);
}

.lkt-field label {
    display: block;
    font-weight: var(--lkt-field-font-weight-label);
    font-size: var(--lkt-field-font-size-label);
    line-height: var(--lkt-field-line-height-label);
    margin: var(--lkt-field-margin-label);
}

.is-mandatory-field label:after {
    content: '*';
    display: inline-block;
    margin-left: 5px;
}

.lkt-field-switch label {
    padding-left: 50px;
}

.lkt-field input[type="file"] {
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
}

.lkt-field input[type="text"],
.lkt-field input[type="email"],
.lkt-field input[type="number"],
.lkt-field input[type="tel"],
.lkt-field input[type="password"],
.lkt-field input[type="search"],
.lkt-field textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    outline: 0;
    border: none;
    color: var(--lkt-field-color);
    transition: var(--lkt-field-transition-input);
    font-size: var(--lkt-field-font-size-input);
    font-weight: var(--lkt-field-font-weight-input);
    border-radius: var(--lkt-field-border-radius-input);
    background-color: var(--lkt-field-bg-input);
}

.lkt-field input[type="range"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    outline: 0;
    border: none;
    border-radius: var(--lkt-field-border-radius-input);
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
}

.lkt-field input[type="text"],
.lkt-field input[type="number"],
.lkt-field input[type="email"],
.lkt-field input[type="password"],
.lkt-field input[type="search"],
.lkt-field input[type="range"],
.lkt-field input[type="tel"] {
    height: var(--lkt-field-input-height);
    line-height: var(--lkt-field-line-height-input);
    padding: var(--lkt-field-padding-input);
}

.lkt-field input:focus {
    outline: 0;
    box-shadow: none;
}

.lkt-field textarea {
    height: var(--lkt-field-large-field-min-height);
    min-height: var(--lkt-field-large-field-min-height);
    max-height: var(--lkt-field-large-field-max-height);
    padding: var(--lkt-field-padding-textarea);
    resize: vertical;
}