.lkt-field--dropdown {
    z-index: 9;
    outline: 0;
    box-shadow: var(--lkt-field--box-shadow);
    --lkt-tooltip--padding: 0;
    --lkt-tooltip--text-align: left;
    --lkt-tooltip--background: var(--lkt-field--background);
    --lkt-tooltip--transition: var(--lkt-field--input--transition);
    --lkt-tooltip--border-radius: var(--lkt-field--border-radius);
    --lkt-tooltip--border-style: var(--lkt-field--border-style);
    --lkt-tooltip--hover--border-style: var(--lkt-field--border-style);
    --lkt-tooltip--border-width: var(--lkt-field--border-width);
    --lkt-tooltip--hover--border-width: var(--lkt-field--border-width);
    --lkt-tooltip--border-color: var(--lkt-field--border-color);
    --lkt-tooltip--hover--border-color: var(--lkt-field--border-color);
}

.lkt-field--dropdown .lkt-tooltip-content {
    display: flex;
    flex-direction: column;
    gap: var(--lkt-field--gap);
}

.lkt-field--dropdown-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: var(--lkt-field--dropdown--max-height);
    overflow-y: auto;
    border-radius: var(--lkt-field--input--border-radius);
}

.lkt-field--dropdown-options.lkt-field--radio-options {
    max-height: initial;
}

.lkt-field--dropdown-options > li > .lkt-field--dropdown-option {
    transition: var(--lkt-field--input--transition);
    color: var(--lkt-field--option--color);
    scroll-margin-top: 10px;
}
.lkt-field--dropdown-options > li > .lkt-button.lkt-field--dropdown-option .lkt-button-main {
    padding: var(--lkt-field--option--padding);
}
.lkt-field--dropdown-options > li > div.lkt-field--dropdown-option:not(.lkt-button) {
    padding: var(--lkt-field--option--padding);
}
.lkt-field--dropdown-options > li:nth-child(odd) > .lkt-field--dropdown-option {
    background: var(--lkt-field--odd-option--background);
    color: var(--lkt-field--odd-option--color);
}
.lkt-field--dropdown-options > li:nth-child(even) > .lkt-field--dropdown-option{
    background: var(--lkt-field--even-option--background);
    color: var(--lkt-field--even-option--color);
}
.lkt-field--dropdown-options > li:nth-child(odd):hover > .lkt-field--dropdown-option,
.lkt-field--dropdown-options > li:nth-child(odd).is-focused > .lkt-field--dropdown-option {
    background: var(--lkt-field--hover--odd-option--background);
    color: var(--lkt-field--hover--odd-option--color);
}
.lkt-field--dropdown-options > li:nth-child(even):hover > .lkt-field--dropdown-option,
.lkt-field--dropdown-options > li:nth-child(even).is-focused > .lkt-field--dropdown-option {
    background: var(--lkt-field--hover--even-option--background);
    color: var(--lkt-field--hover--even-option--color);
}

.lkt-field--dropdown-options > li.is-active > .lkt-field--dropdown-option {
    background: var(--lkt-field--active--option--background);
    color: var(--lkt-field--active--option--color);
}

.lkt-field--dropdown-option + .lkt-field--dropdown-children {
    padding-left: 20px;
}

.lkt-field--dropdown-option {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: break-spaces;
    line-height: 1.425;
}

.lkt-field--dropdown-option--icon-container {
    align-self: flex-start;
}


