.like-lkt-field-label {
    user-select: none;
    display: block;
    color: var(--lkt-field--color);
    font-weight: var(--lkt-field--label--font-weight);
    font-size: var(--lkt-field--label--font-size);
    line-height: var(--lkt-field--label--line-height);
    margin: var(--lkt-field--label--margin);
}