.lkt-field.is-invalid > .lkt-field-main {
    background: var(--lkt-field--invalid--background);
    border-width: var(--lkt-field--invalid--border-width);
    border-color: var(--lkt-field--invalid--border-color);
    box-shadow: var(--lkt-field--invalid--box-shadow);
}

.lkt-field.is-valid > .lkt-field-main {
    background: var(--lkt-field--valid--background);
    border-width: var(--lkt-field--valid--border-width);
    border-color: var(--lkt-field--valid--border-color);
    box-shadow: var(--lkt-field--valid--box-shadow);
}

.lkt-field.is-invalid.has-focus input:focus {
    box-shadow: var(--lkt-field--invalid--box-shadow);
}
.lkt-field.is-valid.has-focus input:focus {
    border-color: var(--lkt-field--valid--border-color);
}

.lkt-field input[disabled],
.lkt-field input[readonly],
.lkt-field textarea[disabled],
.lkt-field textarea[readonly] {
    box-shadow: none;
    border-color: var(--lkt-field--disabled--border-color);
    background-color: var(--lkt-field--disabled--input--background) !important;
}

.lkt-field-date input[readonly] {
    border: none !important;
    padding-left: 25px !important;
    background-color: var(--lkt-field--input--background) !important;
}

.lkt-field-date input[readonly] + div .dp__input_icon {
    padding: 0;
    cursor: default;
}