.lkt-field--alert.lkt-field-text .lkt-field-text__main,
.lkt-field--alert.lkt-field-date input,
.lkt-field--alert.lkt-field-textarea i.lkt-field-textarea__main,
.lkt-field--alert.lkt-field-editor i.lkt-field-editor__main,
.lkt-field--alert.lkt-field-file i.lkt-field-file__main,
.lkt-field--alert.lkt-field-textarea select.lkt-field__select {
    background: var(--alert-contrast);
    border-color: var(--alert-color);
}

.lkt-field--alert.lkt-field-text:hover .lkt-field-text__main,
.lkt-field--alert.lkt-field-date:hover input,
.lkt-field--alert.lkt-field-textarea:hover .lkt-field-textarea__main,
.lkt-field--alert.lkt-field-editor:hover .lkt-field-editor__main,
.lkt-field--alert.lkt-field-file:hover .lkt-field-file__main,
.lkt-field--alert.lkt-field-select:hover .lkt-field__select {
    background: var(--alert-contrast);
    border-color: var(--alert-color);
}

.lkt-field--danger.lkt-field-text .lkt-field-text__main,
.lkt-field--danger.lkt-field-date input,
.lkt-field--danger.lkt-field-textarea.lkt-field-textarea__main,
.lkt-field--danger.lkt-field-editor.lkt-field-editor__main,
.lkt-field--danger.lkt-field-file.lkt-field-file__main,
.lkt-field--danger.lkt-field-select.lkt-field__select {
    background: var(--danger-contrast);
    border-color: var(--danger-color);
}

.lkt-field--danger.lkt-field-text:hover .lkt-field-text__main,
.lkt-field--danger.lkt-field-date:hover input,
.lkt-field--danger.lkt-field-textarea:hover .lkt-field-textarea__main,
.lkt-field--danger.lkt-field-editor:hover .lkt-field-editor__main,
.lkt-field--danger.lkt-field-file:hover .lkt-field-file__main,
.lkt-field--danger.lkt-field-select:hover .lkt-field__select {
    background: var(--danger-contrast);
    border-color: var(--danger-color);
}

.lkt-field--info.lkt-field-text .lkt-field-text__main,
.lkt-field--info.lkt-field-date input,
.lkt-field--info.lkt-field-textarea i.lkt-field-textarea__main,
.lkt-field--info.lkt-field-editor i.lkt-field-editor__main,
.lkt-field--info.lkt-field-file i.lkt-field-file__main,
.lkt-field--info.lkt-field-textarea select.lkt-field__select {
    background: var(--info-contrast);
    border-color: var(--info-color);
}

.lkt-field--info.lkt-field-text:hover .lkt-field-text__main,
.lkt-field--info.lkt-field-date:hover input,
.lkt-field--info.lkt-field-textarea:hover .lkt-field-textarea__main,
.lkt-field--info.lkt-field-editor:hover .lkt-field-editor__main,
.lkt-field--info.lkt-field-file:hover .lkt-field-file__main,
.lkt-field--info.lkt-field-select:hover .lkt-field__select {
    background: var(--info-contrast);
    border-color: var(--info-color);
}

.lkt-field--warning.lkt-field-text .lkt-field-text__main,
.lkt-field--warning.lkt-field-date input,
.lkt-field--warning.lkt-field-textarea.lkt-field-textarea__main,
.lkt-field--warning.lkt-field-editor.lkt-field-editor__main,
.lkt-field--warning.lkt-field-file.lkt-field-file__main,
.lkt-field--warning.lkt-field-select.lkt-field__select {
    background: var(--warning-contrast);
    border-color: var(--warning-color);
}

.lkt-field--warning.lkt-field-text:hover .lkt-field-text__main,
.lkt-field--warning.lkt-field-date:hover input,
.lkt-field--warning.lkt-field-textarea:hover .lkt-field-textarea__main,
.lkt-field--warning.lkt-field-editor:hover .lkt-field-editor__main,
.lkt-field--warning.lkt-field-file:hover .lkt-field-file__main,
.lkt-field--warning.lkt-field-select:hover .lkt-field__select {
    background: var(--warning-contrast);
    border-color: var(--warning-color);
}

.lkt-field--target.lkt-field-text .lkt-field-text__main,
.lkt-field--target.lkt-field-date input,
.lkt-field--target.lkt-field-textarea.lkt-field-textarea__main,
.lkt-field--target.lkt-field-editor.lkt-field-editor__main,
.lkt-field--target.lkt-field-file.lkt-field-file__main,
.lkt-field--target.lkt-field-select.lkt-field__select {
    background: var(--target-contrast);
    border-color: var(--target-color);
}

.lkt-field--target.lkt-field-text:hover .lkt-field-text__main,
.lkt-field--target.lkt-field-date:hover input,
.lkt-field--target.lkt-field-textarea:hover .lkt-field-textarea__main,
.lkt-field--target.lkt-field-editor:hover .lkt-field-editor__main,
.lkt-field--target.lkt-field-file:hover .lkt-field-file__main,
.lkt-field--target.lkt-field-select:hover .lkt-field__select {
    background: var(--target-contrast);
    border-color: var(--target-color);
}

.lkt-field input:focus {
    outline: 0;
    border: var(--field-border-width) var(--field-border-style) var(--focus-color);
    box-shadow: 0 0 0 2px var(--focus-color);
}

.lkt-field input[disabled],
.lkt-field input[readonly],
.lkt-field textarea[disabled],
.lkt-field textarea[readonly] {
    box-shadow: none;
    border: var(--field-border-width) var(--field-border-style) var(--disabled-color);
    background-color: var(--disabled-color) !important;
}

.lkt-field-date input[readonly] {
    border: none !important;
    padding-left: 25px !important;
    background-color: var(--field-background-color) !important;
}

.lkt-field-date input[readonly] + div .dp__input_icon {
    padding: 0;
    cursor: default;
}

.has-focus.lkt-field-select .lkt-field__select {
    outline: 0;
    border: var(--field-border-width) var(--field-border-style) var(--focus-color);
    box-shadow: 0 0 0 2px var(--focus-color);
}

.lkt-field--alert.lkt-field-select:hover .lkt-field__select {
    box-shadow: inset 0 1px 2px rgba(var(--alert-color), .07);
}

.lkt-field--danger.lkt-field-select:hover .lkt-field__select {
    box-shadow: inset 0 1px 2px rgba(var(--danger-color), .07);
}

.lkt-field--info.lkt-field-select:hover .lkt-field__select {
    box-shadow: inset 0 1px 2px rgba(var(--info-color), .07);
}

.lkt-field--warning.lkt-field-select:hover .lkt-field__select {
    box-shadow: inset 0 1px 2px rgba(var(--warning-color), .07);
}

.lkt-field--target.lkt-field-select:hover .lkt-field__select {
    box-shadow: inset 0 1px 2px rgba(var(--target-color), .07);
}

.lkt-field-select.is-disabled .lkt-field__select {
    box-shadow: none;
    border: var(--field-border-width) var(--field-border-style) var(--disabled-color);
    background-color: var(--disabled-color) !important;
}