.lkt-field.is-invalid > .lkt-field-main {
    background: var(--lkt-field-bg-invalid);
    border-width: var(--lkt-field-border-width-invalid);
    border-color: var(--lkt-field-border-color-invalid);
    box-shadow: var(--lkt-field-shadow-invalid);
}

.lkt-field.is-valid > .lkt-field-main {
    background: var(--lkt-field-bg-valid);
    border-width: var(--lkt-field-border-width-valid);
    border-color: var(--lkt-field-border-color-valid);
    box-shadow: var(--lkt-field-shadow-valid);
}

.lkt-field.is-invalid.has-focus input:focus {
    box-shadow: var(--lkt-field-shadow-invalid);
}
.lkt-field.is-valid.has-focus input:focus {
    border-color: var(--lkt-field-border-color-valid);
}

.lkt-field input[disabled],
.lkt-field input[readonly],
.lkt-field textarea[disabled],
.lkt-field textarea[readonly] {
    box-shadow: none;
    border-color: var(--lkt-field-border-color-disabled);
    background-color: var(--lkt-field-bg-input-disabled) !important;
}

.lkt-field-date input[readonly] {
    border: none !important;
    padding-left: 25px !important;
    background-color: var(--lkt-field-bg-input) !important;
}

.lkt-field-date input[readonly] + div .dp__input_icon {
    padding: 0;
    cursor: default;
}

.has-focus.lkt-field-select .lkt-field__select {
    outline: 0;
    border: var(--lkt-field-border-width) var(--lkt-field-border-style) var(--lkt-field-border-color-focus);
    box-shadow: var(--lkt-field-shadow-focus);
}

.lkt-field-select.is-disabled .lkt-field__select {
    box-shadow: none;
    border: var(--lkt-field-border-width) var(--lkt-field-border-style) var(--lkt-field-border-color-disabled);
    background-color: var(--lkt-field-bg-input-disabled) !important;
}