.lkt-field.is-range > .lkt-field-main {
    height: var(--lkt-field--input--height);
}

.lkt-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.lkt-field input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.lkt-field input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}


.lkt-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: var(--lkt-field--range-thumb--border);
    height: var(--lkt-field--range-thumb--height);
    width: var(--lkt-field--range-thumb--width);
    border-radius: var(--lkt-field--range-thumb--border-radius);
    background: var(--lkt-field--range-thumb--background);
    cursor: pointer;
    box-shadow: var(--lkt-field--range-track--box-shadow);
}

/* All the same stuff for Firefox */
.lkt-field input[type=range]::-moz-range-thumb {
    box-shadow: var(--lkt-field--range-thumb--box-shadow);
    border: var(--lkt-field--range-thumb--border);
    height: var(--lkt-field--range-thumb--height);
    width: var(--lkt-field--range-thumb--width);
    border-radius: var(--lkt-field--range-thumb--border-radius);
    background: var(--lkt-field--range-thumb--background);
    cursor: pointer;
}

/* All the same stuff for IE */
.lkt-field input[type=range]::-ms-thumb {
    box-shadow: var(--lkt-field--range-thumb--box-shadow);
    border: var(--lkt-field--range-thumb--border);
    height: var(--lkt-field--range-thumb--height);
    width: var(--lkt-field--range-thumb--width);
    border-radius: var(--lkt-field--range-thumb--border-radius);
    background: var(--lkt-field--range-thumb--background);
    cursor: pointer;
}

.lkt-field input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--lkt-field--range-track--height);
    cursor: pointer;
    box-shadow: var(--lkt-field--range-track--box-shadow);
    background: var(--lkt-field--range-track--background);
    border-radius: var(--lkt-field--range-track--border-radius);
    border: var(--lkt-field--range-track--border);
    padding: var(--lkt-field--range-track--padding);
}

.lkt-field input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--lkt-field--range-track--background);
}

.lkt-field input[type=range]::-moz-range-track {
    width: 100%;
    height: var(--lkt-field--range-track--height);
    cursor: pointer;
    box-shadow: var(--lkt-field--range-track--box-shadow);
    background: var(--lkt-field--range-track--background);
    border-radius: var(--lkt-field--range-track--border-radius);
    border: var(--lkt-field--range-track--border);
    padding: var(--lkt-field--range-track--padding);
}

.lkt-field input[type=range]::-ms-track {
    width: 100%;
    height: var(--lkt-field--range-track--height);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    border-radius: var(--lkt-field--range-track--border-radius);
    padding: var(--lkt-field--range-track--padding);
}
.lkt-field input[type=range]::-ms-fill-lower {
    background: var(--lkt-field--range-track--background);
    border: 0.2px solid #010101;
    border-radius: var(--lkt-field--range-track--border-radius);
    box-shadow: var(--lkt-field--range-thumb--box-shadow);
}
.lkt-field input[type=range]:focus::-ms-fill-lower {
    background: var(--lkt-field--range-track--background);
}
.lkt-field input[type=range]::-ms-fill-upper {
    background: var(--lkt-field--range-track--background);
    border: 0.2px solid #010101;
    border-radius: var(--lkt-field--range-track--border-radius);
    box-shadow: var(--lkt-field--range-thumb--box-shadow);
}
.lkt-field input[type=range]:focus::-ms-fill-upper {
    background: var(--lkt-field--range-track--background);
}

.lkt-field.color-range input[type=range] {
    padding: 0;
}
.lkt-field.color-range .lkt-field-main {
    overflow: hidden
}
.lkt-field.color-range input[type=range]::-webkit-slider-thumb {
    transform: none;
}
.lkt-field.color-range input[type=range]::-ms-fill-lower {
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.lkt-field.color-range input[type=range]::-ms-fill-upper {
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.lkt-field.color-range input[type=range]::-webkit-slider-runnable-track {
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: var(--lkt-field--range-track--height);
}
.lkt-field.color-range input[type=range]::-moz-range-track {
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: var(--lkt-field--range-track--height);
}

.lkt-field.color-range--red input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.lkt-field.color-range--red input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.lkt-field.color-range--red input[type=range]::-moz-range-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.lkt-field.color-range--red input[type=range]::-ms-fill-lower {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.lkt-field.color-range--red input[type=range]::-ms-fill-upper {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.lkt-field.color-range--red input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.lkt-field.color-range--red input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}

.lkt-field.color-range--green input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.lkt-field.color-range--green input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.lkt-field.color-range--green input[type=range]::-moz-range-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.lkt-field.color-range--green input[type=range]::-ms-fill-lower {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.lkt-field.color-range--green input[type=range]::-ms-fill-upper {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.lkt-field.color-range--green input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.lkt-field.color-range--green input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}

.lkt-field.color-range--blue input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}
.lkt-field.color-range--blue input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}
.lkt-field.color-range--blue input[type=range]::-moz-range-track {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}
.lkt-field.color-range--blue input[type=range]::-ms-fill-lower {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}
.lkt-field.color-range--blue input[type=range]::-ms-fill-upper {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}
.lkt-field.color-range--blue input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}
.lkt-field.color-range--blue input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}

.lkt-field.color-range--alpha .lkt-field-main {
    background-image: repeating-conic-gradient(#DADADA 0% 25%, #FFFFFF 0% 50%);
    /* background-position: 0 0, 8px 8px; */
    background-size: 16px 16px;
    background-color: #FFFFFF;
}

.lkt-field.color-range--alpha input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.lkt-field.color-range--alpha input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.lkt-field.color-range--alpha input[type=range]::-moz-range-track {
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.lkt-field.color-range--alpha input[type=range]::-ms-fill-lower {
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.lkt-field.color-range--alpha input[type=range]::-ms-fill-upper {
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.lkt-field.color-range--alpha input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.lkt-field.color-range--alpha input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}



.lkt-field--range-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    justify-content: space-between;
}

.lkt-field--range-opts {
    display: flex;
    flex-direction: column;
    width: 100%;
}