.lkt-field--read {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.lkt-field--read-value {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    outline: 0;
    border: none;
    font-size: var(--lkt-field-font-size);
    padding-right: var(--lkt-field-right-state);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: var(--lkt-field-input-height);
}

.lkt-field.is-textarea .lkt-field--read-value,
.lkt-field.is-html .lkt-field--read-value {
    text-wrap: wrap;
    line-height: var(--lkt-field-textarea-read-mode-line-height);
    max-height: var(--lkt-field-large-field-max-height);
    overflow-y: auto;
    white-space: break-spaces;
}

.lkt-field.is-boolean .lkt-field--read-value .lkt-tag {
    --lkt-tag-bg: var(--lkt-field-bg-switch-off);
    --lkt-tag-bg-hover: var(--lkt-field-bg-switch-off);
    --lkt-tag-color: var(--lkt-field-color);
    --lkt-tag-color-content: var(--lkt-field-color);
    --lkt-tag-color-featured: var(--lkt-field-color);
    --lkt-tag-border-width: var(--lkt-field-border-width);
    --lkt-tag-border-style: var(--lkt-field-border-style);
    --lkt-tag-border-color: var(--lkt-field-border-color);
    --lkt-tag-border-radius: var(--lkt-field-border-radius-input);

    --lkt-tag-bg-content: var(--lkt-field-bg-switch-dot-off);
    --lkt-tag-border-radius-content: var(--lkt-field-border-radius-input) 0 0 var(--lkt-field-border-radius-input);

    align-items: stretch;
    line-height: 1.425;
}

.lkt-field.is-boolean.is-checked .lkt-field--read-value .lkt-tag {
    --lkt-tag-bg: var(--lkt-field-bg-switch-on);
    --lkt-tag-bg-hover: var(--lkt-field-bg-switch-on);
    --lkt-tag-bg-content: var(--lkt-field-bg-switch-dot-on);
}