/* Read mode */
.lkt-field.has-multiple-display-inline .lkt-field-select-read {
    display: inline-flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.lkt-field.has-multiple-display-inline .lkt-field-select-read li {
    display: inline-flex;
    align-items: center;
}

.lkt-field.has-multiple-display-inline .lkt-field-select-read li:not(:last-child):after {
    content: ',';
    display: inline-block;
    margin-right: var(--lkt-field--state--right);
}
.lkt-field--btn-dropdown i {
    transition: transform .3s ease;
}

.lkt-field.show-options .lkt-field--btn-dropdown i {
    transform: rotate(180deg);
}

.lkt-field--searchable-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--lkt-field--input--padding);
    border-bottom: var(--lkt-field--border-width) var(--lkt-field--border-style) var(--lkt-field--border-color);
}