.lkt-field-main--select {
    padding: var(--lkt-field-padding-input);
    height: var(--lkt-field-input-height);
}

.lkt-field-select.is-multiple:not(.size-sm) .lkt-field__select {
    padding: 0;
    height: var(--lkt-field-large-field-min-height);
    min-height: var(--lkt-field-large-field-min-height);
    max-height: var(--lkt-field-large-field-max-height);
}

.lkt-field__select-dropdown {
    z-index: 9;
    padding: 0;
    outline: 0;
    box-shadow: var(--lkt-field-shadow);
    --lkt-tooltip-text-align: left;
    --lkt-tooltip-bg: var(--lkt-field-bg);
    --lkt-tooltip-transition: var(--lkt-field-transition-input);
    --lkt-tooltip-border-radius: var(--lkt-field-border-radius);
    --lkt-tooltip-border-style: var(--lkt-field-border-style);
    --lkt-tooltip-border-style-hover: var(--lkt-field-border-style);
    --lkt-tooltip-border-width: var(--lkt-field-border-width);
    --lkt-tooltip-border-width-hover: var(--lkt-field-border-width);
    --lkt-tooltip-border-color: var(--lkt-field-border-color);
    --lkt-tooltip-border-color-hover: var(--lkt-field-border-color);
}

.lkt-field__select-dropdown .lkt-tooltip-content {
    display: flex;
    flex-direction: column;
    gap: var(--lkt-field-gap);
}

.lkt-field__select-value {
    width: 100%;
    height: 100%;
    line-height: var(--lkt-field-input-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.lkt-field__select-value-multiple {
    width: 100%;
    height: 100%;
    line-height: var(--lkt-field-input-height);
    min-height: var(--lkt-field-input-height);
    display: flex;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: auto;
    /*padding: var(--lkt-field-padding-input);*/
    align-items: baseline;
}

.lkt-field-select-value-datum {
    box-sizing: border-box;
    outline: 0;
    border: none;
    font-size: var(--lkt-field-font-size);
    padding-right: var(--lkt-field-right-state);
    line-height: var(--lkt-field-input-height);
}

.lkt-field__select-search-container {
    padding: var(--lkt-field-gap) var(--lkt-field-gap) 0;
}

.lkt-field__select-options li {
    padding: var(--lkt-field-padding-option);
    transition: var(--lkt-field-transition-input);
    color: var(--lkt-field-color-opt);
}
.lkt-field__select-options li:nth-child(odd) {
    background: var(--lkt-field-bg-opt-odd);
    color: var(--lkt-field-color-opt-odd);
}
.lkt-field__select-options li:nth-child(even) {
    background: var(--lkt-field-bg-opt-even);
    color: var(--lkt-field-color-opt-even);
}
.lkt-field__select-options li:nth-child(odd):hover {
    background: var(--lkt-field-bg-opt-odd-hover);
    color: var(--lkt-field-color-opt-odd-hover);
}
.lkt-field__select-options li:nth-child(even):hover {
    background: var(--lkt-field-bg-opt-even-hover);
    color: var(--lkt-field-color-opt-even-hover);
}

.lkt-field__select-options li.is-active {
    background: var(--lkt-field-bg-opt-active);
    color: var(--lkt-field-color-opt-active);
}


.lkt-field__select-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: var(--lkt-field-max-height-dropdown);
    overflow-y: auto;
    border-radius: var(--lkt-field-border-radius-input);
}

/* Read mode */
.lkt-field-select__read{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.lkt-field-select__read-value {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    outline: 0;
    border: none;
    font-size: var(--lkt-field-font-size);
    padding-right: var(--lkt-field-right-state);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: var(--lkt-field-input-height);
}

.lkt-field-select__read-multiple {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: var(--lkt-field-gap);
}

.lkt-field-select-read--inline {
    display: inline-flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.lkt-field-select-read--inline li {
    display: inline-flex;
    align-items: center;
}

.lkt-field-select-read--inline li:not(:last-child):after {
    content: ',';
    display: inline-block;
    margin-right: var(--lkt-field-right-state);
}

.lkt-field-select-read--inline .lkt-field-select__read-value {
    padding-right: 0;
}

.with-tags .lkt-field-option {
    border-width: var(--lkt-field-tag-border-width);
    border-style: var(--lkt-field-tag-border-style);
    border-color: var(--lkt-field-tag-border-color);
    border-radius: var(--lkt-field-tag-border-radius);
    padding: var(--lkt-field-tag-border-radius);
    background: var(--lkt-field-tag-bg);
    color: var(--lkt-field-tag-color);
    font-weight: var(--lkt-field-tag-font-weight);
    width: auto;
}

.lkt-field-dropdown-angle {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
}

.lkt-field-select.has-focus .lkt-field-dropdown-angle {
    transform: rotate(180deg);
}