.lkt-field--atn-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    height: var(--lkt-field--input--height);
    width: var(--lkt-field--input--height);
}

.lkt-field--info-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    height: var(--lkt-field--input--height);
    width: calc(var(--lkt-field--icons-amount) * var(--lkt-field--input--height));
    overflow: hidden;
    border-radius: var(--lkt-field--border-radius);
}

.lkt-field--atn-btn,
.lkt-field--info-btn,
.lkt-field--report-btn {
    --lkt-button--min-height: var(--lkt-field--input--height);
    --lkt-button--min-width: var(--lkt-field--input--height);
    --lkt-button--width: var(--lkt-field--input--height);
    --lkt-button--border-radius: var(--lkt-field--border-radius);
    --lkt-button--hover--border-radius: var(--lkt-field--border-radius);
    --lkt-button--color: var(--lkt-field--color);
    --lkt-button--background: transparent;
}

.lkt-field--custom-btn {
    --lkt-button--width: auto;
}

.lkt-field--atn-btn,
.lkt-field--atn-btn:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.lkt-field--info-btn,
.lkt-field--info-btn:hover,
.lkt-field--report-btn,
.lkt-field--report-btn:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}

.lkt-field.is-lg .lkt-field--info-btn,
.lkt-field.is-lg .lkt-field--info-btn:hover,
.lkt-field.is-xl .lkt-field--info-btn,
.lkt-field.is-xl .lkt-field--info-btn:hover,
.lkt-field.is-lg .lkt-field--report-btn,
.lkt-field.is-lg .lkt-field--report-btn:hover,
.lkt-field.is-xl .lkt-field--report-btn,
.lkt-field.is-xl .lkt-field--report-btn:hover
{
    border-bottom-width: var(--lkt-field--border-width);
    border-bottom-right-radius: 0;
}

.lkt-field--info-split-btn {
    --lkt-button--background: transparent;
    --lkt-button--border-color: transparent;
}

.lkt-field--info-nav .lkt-button-container:not(:last-child) .lkt-field--info-btn,
.lkt-field--info-nav .lkt-button-container:not(:last-child) .lkt-field--info-btn:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.lkt-field.with-atn-btn .lkt-field-main > input[type="text"],
.lkt-field.with-atn-btn .lkt-field-main > input[type="email"],
.lkt-field.with-atn-btn .lkt-field-main > input[type="number"],
.lkt-field.with-atn-btn .lkt-field-main > input[type="tel"],
.lkt-field.with-atn-btn .lkt-field-main > input[type="password"],
.lkt-field.with-atn-btn .lkt-field-main > input[type="search"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.lkt-field.has-icons .lkt-field-main > input[type="text"],
.lkt-field.has-icons .lkt-field-main > input[type="email"],
.lkt-field.has-icons .lkt-field-main > input[type="number"],
.lkt-field.has-icons .lkt-field-main > input[type="tel"],
.lkt-field.has-icons .lkt-field-main > input[type="password"],
.lkt-field.has-icons .lkt-field-main > input[type="search"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.lkt-field.is-textarea .lkt-field--atn-btn-container,
.lkt-field.is-textarea .lkt-field--info-nav,
.lkt-field.is-html .lkt-field--atn-btn-container,
.lkt-field.is-html .lkt-field--info-nav {
    flex-direction: column;
}

.lkt-field.is-textarea .lkt-field--atn-btn,
.lkt-field.is-textarea .lkt-field--atn-btn:hover,
.lkt-field.is-html .lkt-field--atn-btn,
.lkt-field.is-html .lkt-field--atn-btn:hover {
    border-bottom-left-radius: 0;
}

.lkt-field.is-textarea .lkt-field--info-btn,
.lkt-field.is-textarea .lkt-field--info-btn:hover,
.lkt-field.is-html .lkt-field--info-btn,
.lkt-field.is-html .lkt-field--info-btn:hover {
    border-bottom-right-radius: 0;
}

.lkt-hidden-field {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}