/** Common boolean props */
.lkt-field.is-boolean {
    align-self: flex-end;
}

.lkt-field.is-boolean input {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

.boolean-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.boolean-input-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    background-color: var(--lkt-field-bg-switch-off);
    border-width: var(--lkt-field-border-width);
    border-style: var(--lkt-field-border-style);
    border-color: var(--lkt-field-border-color);
    border-radius: var(--lkt-field-border-radius-input);
}
.lkt-field.is-boolean .lkt-field-content {
    border: none;
    box-shadow: none;
}
.lkt-button > .lkt-field.is-switch {
    width: auto;
}
.boolean-input .lkt-field--label {
    margin: 0;
}

/** Switch styles */
.lkt-field.is-switch .boolean-input-label {
    justify-content: flex-start;
    width: var(--lkt-field-switch-width);
    height: var(--lkt-field-switch-height);
}

.lkt-field.is-switch .boolean-input--check-on {
    transition: all linear 200ms;
    position: absolute;
    top: 50%;
    left: var(--lkt-field-switch-dot-left-start);
    transform: translateY(-50%);
    width: var(--lkt-field-switch-dot-size);
    height: var(--lkt-field-switch-dot-size);
    background: var(--lkt-field-bg-switch-dot-off);
    border-radius: var(--lkt-field-border-radius-input);
    z-index: 3;
}

.lkt-field.is-switch.is-checked .boolean-input-label {
    background-color: var(--lkt-field-bg-switch-on);
}

.lkt-field.is-switch.is-checked .boolean-input--check-on {
    background: var(--lkt-field-bg-switch-dot-on);
    left: var(--lkt-field-switch-dot-left-end);
}

.lkt-field.is-switch input:disabled .boolean-input-label {
    background: var(--lkt-field-bg-switch-disabled);
}

.lkt-field.is-switch input:disabled .boolean-input--check-on {
    background: var(--lkt-field-bg-switch-dot-disabled);
}

.lkt-field.is-switch.is-checked.is-disabled .boolean-input-label {
    background-color: var(--lkt-field-bg-switch-on-disabled);
}

.lkt-field.is-switch.is-checked.is-disabled .boolean-input--check-on {
    background: var(--lkt-field-bg-switch-dot-on-disabled);
}

/* Check styles */
.lkt-field.is-check .boolean-input-label {
    width: var(--lkt-field-switch-dot-size);
    height: var(--lkt-field-switch-dot-size);
    color: #ffffff;
}

.lkt-field.is-check.is-checked .boolean-input-label {
    background: var(--lkt-field-bg-switch-dot-on);
}